.sidebar-body {
  position: absolute;
  background-color: rgb(46, 2, 44);
  width: 15rem;
  height: 100vh;
  border-radius: 20px 0 0 0;
  z-index: 1;
  transition: transform 0.5s ease;
}

.sidebar-body.active-menu{
  transform: translateX(15rem);
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

.sidebar-list-li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.sidebar-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.img-li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 253, 127);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 3rem;
}

.sidebar-list-li{
    width: 80%;
    align-self: flex-end;
    border-radius: 0 25px 25px 0;
    padding: 0.4rem 2rem;
}

.sidebar-list-li:hover{
  background-color: rgba(147, 45, 243, 0.2);
}

.sidebar-list-li.active{
  background-color: blueviolet;
}

.sidebar-list-li-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
