.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.add-search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(11, 134, 11);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.add-btn:hover {
  background-color: rgb(6, 92, 6);
  transform: scale(1.05);
}

.add-btn:active {
  border: 2px solid rgb(18, 232, 18);
}

.search-input {
  width: 35%;
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
}

.search-input::placeholder {
  color: rgb(81, 81, 81);
}

.container-table{
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.container-table thead th{
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.container-table tbody td{
    text-align: center;
    padding: 0.5rem;
}

.trash-edit{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.trash-edit-btn{
  cursor: pointer;
}

